.orders-management {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 700px;

  .order {
    padding: 15px;
    border: 1px solid #889898;
    margin-bottom: 15px;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      border-bottom: 1px solid #393C49;
      padding-bottom: 10px;

      p {
        font-family: "Barlow", sans-serif;
        color: #fff;
        font-weight: 500;

        span {
          color: goldenrod;
        }
      }
    }

    .products {
      display: flex;
      flex-direction: column;

      > p {
        font-family: "Barlow", sans-serif;
        color: #fff;
        margin-bottom: 5px;
      }
      .product{
        display: flex;
        justify-content: space-between;
        font-family: "Barlow", sans-serif;
        color: #fff;
        font-size: 14px;
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

}