.field-wrapper {
  margin-bottom: 20px;

  p {
    color: #E0E6E9;
    font-family: "Barlow", sans-serif;
    margin-bottom: 3px;
  }

  .field {
    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    background: #2D303E;
    height: 40px;
    padding: 14px;
    font-size: 14px;
    line-height: 140%;
    color: #E0E6E9;
    font-family: "Barlow", sans-serif;
    outline: none;
    width: 100%;
  }
}

.all-sum {
  font-family: "Barlow", sans-serif;
  color: #E0E6E9;
  font-size: 18px;
  margin-bottom: 35px;

  & > span {
    color: goldenrod;
    font-weight: bold;
  }
}

.cart_number {
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 19px;
  margin-bottom: 25px;

  > span {
    margin-left: 15px;
    font-weight: bold;
    color: rgb(234, 124, 105);
  }
}

.btn {
  font-family: "Barlow", sans-serif;
  background: #EA7C69;
  box-shadow: 0 8px 24px rgb(234, 124, 105, 32%);
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.2s linear;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    transition: 0.2s linear;
    opacity: 0.8;
  }
}

.successPopUp {
  text-align: center;

  p {
    font-family: "Barlow", sans-serif;
    color: #fff;
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .all-sum {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .field-wrapper {
    margin-bottom: 10px;

    p {
      font-size: 14px;
    }

    .field {
      padding: 5px;
      height: 30px;
    }
  }
  .cart_number {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    span {
      margin: 0;
    }
  }
}