.products-management {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  height: 700px;
  padding: 0 40px;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  .product {
    border: 1px solid #393C49;
    border-radius: 8px;
    margin-bottom: 25px;
    width: 320px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: fit-content;

    & > .img-wrap {
      width: 250px;
      height: 250px;
      margin-bottom: 20px;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    .product-name, .product-info {
      font-weight: 500;
      font-size: 16px;
      font-family: "Barlow", sans-serif;
      margin-bottom: 12px;
    }

    .product-name {
      color: #FFF;
    }

    .product-info {
      color: #ABBBC2;
    }

    .btn-group {
      display: flex;
      padding-top: 0;
      width: 100%;

      & > .btn {
        background: rgba(234, 124, 105, .24);
        width: 50%;
        border: none;
        padding: 15px;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
        color: #EA7C69;
        font-family: "Barlow", sans-serif;
        transition: .2s ease-in-out;

        &:hover {
          transition: .2s ease-in-out;
          opacity: .5;
        }

        &:first-child {
          border-right: 2px solid #ABBBC2;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .products-management {
    height: calc(100vh - 267px);
    padding: 0 10px;
    justify-content: center;

    .product {
      width: auto;

      & > .img-wrap {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
        }
      }

      .btn-group {
        & > .btn {
          padding: 7px;
        }
      }
    }
  }
}