.template-page-wrapper {
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
    line-height: 39px;
    color: #fff;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .template-page-wrapper {
    height: calc(100vh - 85px);
    padding: 10px;

    .title {
      font-size: 21px;
      margin-bottom: 15px;
    }
  }
}