.product-list {
  overflow-y: scroll;
  height: calc(100vh - 10%);

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;

  .product {
    width: 320px;
    margin-bottom: 40px;
    background: #1F1D2B;
    border-radius: 16px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2D303E;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    height: 395px;
    justify-content: space-between;

    &:hover {
      transition: .2s ease;
      opacity: .7;
    }

    .img-wrapper {
      width: 250px;
      height: 250px;
      padding: 2px;
      border-radius: 15px;
      margin-bottom: 10px;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      text-align: center;
      font: {
        size: 16px;
        weight: bold;
      }
      margin-bottom: 8px;
    }

    .cost {
      font-size: 16px;
      margin-bottom: 8px;
      text-align: center;

      & > span {
        color: goldenrod;
        font-weight: bold;
      }
    }

    .amount {
      font-size: 16px;
      color: #ABBBC2;
      text-align: center;

      & > span {
        color: #ABBBC2;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-list {
    padding: 0;
    justify-content: space-between;

    .product {
      width: 47%;
      height: fit-content;
      margin-bottom: 15px;

      .img-wrapper {
        width: 100%;
        height: 120px;
        max-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        > img {
          width: auto;
        }
      }
    }
  }
}