.product-from {
  .image-wrap {
    width: 70%;
    margin: 0 auto 20px;
  }

  .btn-group {
    margin-bottom: 12px;
    display: flex;

    &.right {
      justify-content: flex-end;
    }

    & > button {
      font-family: "Barlow", sans-serif;
      background: #EA7C69;
      box-shadow: 0 8px 24px rgb(234, 124, 105, 32%);
      border: none;
      cursor: pointer;
      padding: 5px;
      color: #fff;
      font-weight: 500;
      border-radius: 3px;
      transition: 0.2s linear;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        transition: 0.2s linear;
        opacity: 0.8;
      }
    }
  }

  .field-wrapper {
    margin-bottom: 20px;

    p {
      color: #E0E6E9;
      font-family: "Barlow", sans-serif;
      margin-bottom: 3px;
    }

    .field {
      border: 1px solid #393C49;
      box-sizing: border-box;
      border-radius: 8px;
      background: #2D303E;
      height: 40px;
      padding: 14px;
      font-size: 14px;
      line-height: 140%;
      color: #E0E6E9;
      font-family: "Barlow", sans-serif;
      outline: none;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .product-from {
    .field-wrapper {
      margin-bottom: 10px;

      p {
        font-size: 16px;
      }

      .field {
        height: 30px;
      }
    }

    .image-wrap {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}